body{
     
    background-image: linear-gradient(to right, #110101e1, #220101);
    font-style: inherit;
  
}

.titulo{
    text-align: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    background-color: white;
    position: absolute;
    border-radius: 20px;
    box-shadow: rgb(255, 3, 3) 0px 0px 100px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    
    

}



.btn{
    background-color: #0c0d0e;
    color: white;
    border-radius: 20px;
    width: 20vh;
    height: 5vh;
    font-size: 16px;
    font-weight: bold;
    margin-left: 200px;
    
  
    
}
.line{
    margin-top: 10px ;
    margin-bottom: 10px;
    width: 50vw;
    height: 1px;
    background-color: rgb(22, 21, 21);
}
.q1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
   
    
}

.q2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.q3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;

    
}
